html,body{
        height: 100%;
        width: 100%;
}
.pad0{
  padding: 0px !important;
}

 .maincont {
  margin-top: 30px;
    width: 100%;
}

.open1{
  position: absolute;
  z-index: -5;
  height: auto;
  width: 100%;
  margin-bottom: -10px;
  background-repeat: repeat-y;
}

.stu{
  height: 400px;
  width: auto;
  position: absolute;
  width: 100%;
  z-index: -5;
}

.container_main{
  position: relative;
  width: 35%;
  float: left;
  border-radius: 50;
}

.image1{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  width: 0;
  height: 100%;
  transition: .5s ease;
  background-image: url('real1.png');
  background-size: cover;
}

.container_main:hover .overlay {
  width: 100%;
}

#input{
  display: none;
}

.palace_text {
  white-space: nowrap; 
  color: white;
  font-size: 15px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.nop_icon{
  position: absolute;
  height:270px;
  width: 20%;
  background-color: #b3b3ff;
  margin: -15px 0 0 8%;
  padding: 180px 0 0 0;
}

.pic3{
  height: 300px;
  width: 30%;
  float: right;
}

.mid_icon{
 position:fixed;
 height:90px;
 width: 18%;
 margin: 0px 0px 0 42%;
 z-index: 1;

}

.reg_text{
  height: 60px;
  width: 20%;
  position: absolute;
  margin: 260px 0 0 8%;
}


div#all{
        background-color: black;
        height: 100px;
        width: 100%;


        -webkit-transition:width 500ms;

}
     
     #text_out{
        font-size: 30px;
        text-align: center;
        color: red;
     }
    #input{
      position: absolute;
      margin-left: 30%;
      margin-top: 20px;
    }
     #f1_container {  
  width: 100%;
  height: 300px;
}

#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 1.0s linear;
}

#f1_container:hover #f1_card {
  transform: rotateY(180deg);
}

div.face{
  width: 100%;
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
}
.back.face{
  transform: rotateY(180deg);
  color: white;
  text-align: center;
  background-color: black;
}
.bha{
  height: 100%;
  width: 100%;
}