
/*jai bolo notifications ki*/
div.noti{
	height: 400px;
	background-image: url('slide3.jpg');
}
.noti_head{
	background-color: #35424a;
	font-size: 25px;
	padding: 10px 20px 6px 8px;
	border-bottom:solid #e8491d 2px;
}
.noti_body{
	height: 200px;
	background-color: grey;
}
.notifications{
	color: white;

}